@tailwind base;
@tailwind components;
@tailwind utilities;

/* Кастомные анимации */
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.float-animation {
  animation: float 3s ease-in-out infinite;
}

.neon-text {
  text-shadow: 0 0 20px #ff00ff, 0 0 40px #ff00ff;
}

.hover\:shadow-neon:hover {
  box-shadow: 0 0 40px #ff00ff;
}

.animate-spin-slow {
  animation: spin 20s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
